h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px
}
body {
  background-color: white;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  color: #434455;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* START OF HEADER */
.header {
  align-items: center;
  height: 72px;
  width: 1440px;
  border-bottom: 1px solid #e7e9fc;
}
header .header_container {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
}

header .logo {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px
}
header .logo span {
  color: #2e2f42;
}
.menu_1 {
  display: flex;
  gap: 40px;
}
header nav ul li .menu_item {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #2e2f42;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 24px 0
}
header nav ul li .menu_item:hover {
  color: #404bbf;
}
header nav li .menu_item:focus {
  color: #404bbf
}
header address .address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

header address .address li {
  list-style: none;
}
header address .address li .address_item{
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #434455;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 0.02em;
}
header address .address li .address_item:hover {
  color: #404bbf;
}
header address .address li .address_item:focus {
  color: #404bbf;
}

/* END OF HEADER */

/* START OF SECTION 1 */
.button_box {
  background-color: #2e2f42;
  padding: 188px 0;
}

h1 {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.biggest_text {
  max-width: 496px;
  margin: 0 auto;
}
.button {
  font-family:"Roboto", sans-serif;
  background-color: #4d5ae5;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.button:hover {
  background-color: #404BBF
}
.button:focus {
  background-color: #404BBF
}
/* END OF SECTION 1 */

/* START OF SECTION 2 */
.features_box {
  padding: 120px 0;
}
.features_list {
  display: flex;
  gap: 24px;
}
.features_list_items {
  width: calc((100% - 72px) / 4);
}
.features {
  color: #2e2f42;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features_text {
  color: #434455;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* END OF SECTION 2 */

/* START OF SECTION 3 */
.our_team {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.our_team_background {
  background-color: #f4f4fd
}
.our_team_frame {
  background-color: #FFFFFF; 
}
.our_team_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our_team_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* END OF SECTION 3 */

/* START OF SECTION 4 */
.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* END OF SECTION 4 */

/* START OF FOOTER */
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #f4f4fd;
}
.studio_end {
  color: #F4F4FD
}
footer .logo {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
footer .logo span {
  color: #F4F4FD;
}
/* END OF FOOTER */